<div id="main">
  <%= image_tag 'main-img.jpg' %>
</div>


<div id="article_wrap">

  <div id="article_list">
    <% @articles.each do |article| %>
      <div>
        <h2><%= link_to article.title, "articles/#{article.id}" %></h2>
        <p><%= article.created_at %></p>
      </div>
    <% end %>
  </div>

  <div id="sidebar">

      <h2>★PV数ランキング</h2>
      <ul>
        <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
        <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
        <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
      </ul>
  </div>
  <div class="clear"></div>
</div>