<header>
    <p id="logo"><a href="/">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li><%= link_to 'トップ', root_path %></li>
            <li><%= link_to '新規投稿', new_article_path %></li>
            <div class="clear"></div>
        </ul>
    </nav>
    <div class="clear"></div>
</header>